body {
  background-color: gray;
}

.App {
  border: 1px solid #fff;
  margin: 100px 30%;
  padding: 50px;
  text-align: center;
  border-radius: 20px;
  background-color: le;
}
.App h2 {
  color: white;
}

.App ul {
  list-style: "☐"; 
  cursor: pointer;
  font-size: 22px;
  color: #fff;
  margin: 20px;
}
.App input {
  width: 200px;
  height: 40px;
  border-radius: 10px;
margin: 20px;
}
.App button {
  display: block;
  background-color: black;
  color: white;
  width: 150px;
  height: 30px;
  margin: auto;
  border-radius: 10px;
}
.App li {
  word-wrap: break-word;
}



.diffstyle {
list-style: "🗸";  
text-decoration: line-through;
}

.div2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/* emojepedia هتحيب منه اي استايل لل /list style */
/* Word wrap or over flow wrap , بتخلي للكلام ليمت معين */
